.header {
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #ff66cc;
    background: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(4px);
    gap: 2rem;
}

.headersection {
   font-family: "Jersey 25", sans-serif;
   font-size: 20px;
   font-weight: 400;
   font-style: normal;
   color: #ffccff;
   letter-spacing: 1.5px;
   text-shadow: 1px 1px #7f00ff;
   cursor: pointer;
   transition: all 0.3s ease;
}

.headersection:hover {
   color: #ffffff;
   text-shadow: 2px 2px #ff66cc;
   transform: scale(1.05);
}

.headersection a {
   text-decoration: none;
   color: inherit;
}
