.home{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-inline: 5%;
}

.hometext {
   font-family: "Jersey 25", sans-serif;
   font-size: 30px;
   font-weight: 400;
   font-style: normal;
   letter-spacing: 3px;
   line-height: 60px;
   color: #ffffff;
   text-shadow: 2px 2px #ff66cc;
   transform: scale(1.05);
}

.cube {
  width: 500px;
  height: 320px;
  background: rgb(255, 72, 170);
  border-radius: 60% 40% 50% 50% / 50% 60% 40% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car {
   width: 500px;
}


.home{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-inline: 5%;
}

.hometext {
   height: 150px;
   width: 500px;
   font-family: "Jersey 25", sans-serif;
   font-size: 30px;
   font-weight: 400;
   font-style: normal;
   letter-spacing: 3px;
   line-height: 60px;
   color: #ffffff;
   text-shadow: 2px 2px #ff66cc;
   transform: scale(1.05);
}

.cube {
  width: 500px;
  height: 320px;
  background: deeppink;
  border-radius: 60% 40% 50% 50% / 50% 60% 40% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor {
  color: #ff66cc;
  font-weight: 600;
  font-size: 0.8em;  /* smaller than main text */
  animation: blink 0.7s steps(1) infinite;
  margin-left: 4px;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.cube img {
  animation: float 2s ease-in-out infinite;
}


@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
