.hometext {
   font-family: "Jersey 25", sans-serif;
   font-size: 30px;
   font-weight: 400;
   font-style: normal;
   letter-spacing: 3px;
   line-height: 60px;
   color: #ffffff;
   text-shadow: 2px 2px #ff66cc;
   transform: scale(1.05);
}