.home{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-inline: 5%;
}

.hometext {
   font-family: "Jersey 25", sans-serif;
   font-size: 30px;
   font-weight: 400;
   font-style: normal;
   letter-spacing: 3px;
   line-height: 60px;
   color: #ffffff;
   text-shadow: 2px 2px #ff66cc;
   transform: scale(1.05);
}

.cube {
  width: 500px;
  height: 320px;
  background: deeppink;
  border-radius: 60% 40% 50% 50% / 50% 60% 40% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
